h1 {
	font-family: Verdana;
	font-size: 22px;
}

h2 {
	font-family: Verdana;
	font-size: 18px;
}

h3 {
	font-family: Verdana;
	font-size: 16px;
}

h4 {
	font-family: Verdana;
	font-size: 14px;
}

p {
	font-family: Verdana;
	font-size: 12px;
	text-align: justify;
}

li {
	font-family: Verdana;
	font-size: 12px;
	text-align: justify;
}

code {
	font-family: Ubuntu Mono;
	font-size: 12px;
}

img {
	min-width: 100px;
	max-width: 500px;
	margin: auto;
  	display: block;
	object-fit: cover;
}

figcaption {
	font-size: smaller;
	font-style: italic;
	padding: 0.2em;
	text-align: center;
}


